.title {
  @apply text-4xl font-semibold pb-6;
  line-height: 3rem;
}

.details {
  @apply flex pb-6;
}

.featuredImage {
  @apply w-full h-auto mb-9;
  max-height: 500px;
}

@media (max-width: theme(screens.large)) {
  .title {
    @apply text-3xl pb-5;
  }

  .details {
    @apply pb-5;
  }
}

@media (max-width: theme(screens.medium)) {
  .title {
    @apply text-3xl pb-4;
  }

  .details {
    @apply pb-4;
  }

  .featuredImage {
    max-height: 450px;
  }
}

@media (max-width: theme(screens.small)) {
  .title {
    @apply text-2xl;
  }
}

@media (max-width: theme(screens.xsmall)) {
  .featuredImage {
    max-height: 350px;
  }
}
