.element {
  @apply bg-slate-100 rounded-md;
}

.title {
  @apply mb-6;
  width: 90%;
  height: 35px;
}

.details {
  @apply flex mb-6;
}

.details > div {
  @apply mr-9;
  width: 15%;
  height: 15px;
}

.image {
  @apply mb-6;
  width: 100%;
  height: 400px;
}

.text > div {
  @apply block mb-2;
  width: 100%;
  height: 8px;
}

@media (max-width: theme(screens.large)) {
  .title {
    @apply mb-5;
  }

  .details {
    @apply mb-5;
  }
}

@media (max-width: theme(screens.medium)) {
  .title {
    @apply mb-4;
    height: 32px;
  }

  .details {
    @apply mb-4;
  }

  .image {
    @apply mb-5;
    height: 350px;
  }
}

@media (max-width: theme(screens.xsmall)) {
  .title {
    height: 30px;
  }

  .image {
    height: 300px;
  }
}
